In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('./vgsales.csv')
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

# Which company is the most common video game publisher?

In [15]:
most_common_publisher = df['Publisher'].mode().iloc[0]
most_common_publisher

'Electronic Arts'

# What’s the most common platform?

In [4]:
most_common_platform = df['Platform'].mode()[0]
most_common_platform

'DS'

# What’s the most common Grenre?

In [5]:
most_common_genre =df['Genre'].mode().iloc[0]
most_common_genre

'Action'

# What are the top 20 highest grossing games?

In [6]:
top_twenty_highest_grossing_games = df[['Name' , 'Year' , 'Global_Sales']].head(20)
top_twenty_highest_grossing_games

                                            Name    Year  Global_Sales
0                                     Wii Sports  2006.0         82.74
1                              Super Mario Bros.  1985.0         40.24
2                                 Mario Kart Wii  2008.0         35.82
3                              Wii Sports Resort  2009.0         33.00
4                       Pokemon Red/Pokemon Blue  1996.0         31.37
5                                         Tetris  1989.0         30.26
6                          New Super Mario Bros.  2006.0         30.01
7                                       Wii Play  2006.0         29.02
8                      New Super Mario Bros. Wii  2009.0         28.62
9                                      Duck Hunt  1984.0         28.31
10                                    Nintendogs  2005.0         24.76
11                                 Mario Kart DS  2005.0         23.42
12                   Pokemon Gold/Pokemon Silver  1999.0         23.10
13                                       Wii Fit  2007.0         22.72
14                                  Wii Fit Plus  2009.0         22.00
15                            Kinect Adventures!  2010.0         21.82
16                            Grand Theft Auto V  2013.0         21.40
17                 Grand Theft Auto: San Andreas  2004.0         20.81
18                             Super Mario World  1990.0         20.61
19  Brain Age: Train Your Brain in Minutes a Day  2005.0         20.22

# For North American video game sales, what’s the median?

In [7]:
North_american_median = df['NA_Sales'].median()
North_american_median

0.08

# For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [8]:
North_american_mean_top = (df['NA_Sales'][0] - df['NA_Sales'].mean())/df['NA_Sales'].std()


North_american_mean_top

50.47898767479108

# The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [9]:
average_compare_wii = df[df['Platform'] == 'Wii'].Global_Sales.mean()
average_compare_all = df['Global_Sales'].mean()
average_compare_wii
average_compare_all
[average_compare_wii ,average_compare_all]

[0.6994037735849057, 0.5374406555006628]

# Come up with 3 more questions that can be answered with this data set.
# 1) show the mean of JP_Sales

In [10]:
mean_jp_sales = df['JP_Sales'].mean()
mean_jp_sales

0.077781660441017

# show the std for all Global_Sales

In [11]:
std_all_global_sales = df['Global_Sales'].std()
std_all_global_sales

1.5550279355699124

# show the year of most sales of platform Wii

In [12]:
year_of_most_wii_sales = [df['Year'][df['Platform'] == 'Wii'].max()]
year_of_most_wii_sales

[2015.0]

In [17]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(most_common_publisher, 'Electronic Arts')
    assert_equal(most_common_platform, 'DS')
    assert_equal(most_common_genre, 'Action')
    assert_equal(std_all_global_sales, 1.5550279355699124)
    assert_equal(year_of_most_wii_sales, [2015.0])
    assert_equal(mean_jp_sales, 0.077781660441017)


    print("Success!!!")

test()

Success!!!